<h1>MULTI-UPLOAD</h1>
<form enctype="multipart/form-data" method="POST" action="/handleUpload">
    <input type="file" multiple required accept="*/*" name="fileToUpload">
    <input type="submit" value="Upload">
</form>