body{
    margin: 0;
}

.nav{
    background-color: blue;
    padding: 10px;
}
a {
    padding: 5px;
    color: white;
    text-decoration: none;
}
.content{
    position: relative;
    font-size: xx-large;
    color: gray;
    text-align: center;

}